*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /*===================================
        Color Palette
  ====================================*/
  --color-grey-light: #eee;
  --color-grey-light-1: #e1e1e1;
  --color-grey-dark: #eeeff0;
  --color-grey-extra-d: #c0bfbf;
  --color-dark-light: #333;
  --color-dark-light-1: #444;
  --color-dark-light-2: #555;
  --color-dark-vlight: #777;

  --color-off-white: #fffffd;
  --color-off-white-1: #fdfdfd;
  --color-white: #fff;

  --color-red: rgb(255, 0, 0);
  --color-dim-pink: #E71D36;
  --faded-red: rgb(254, 185, 202);

  --yellow: #EDD83D;
  --faded-yellow: hsl(55, 100%, 86%);

  --faded-green: hsl(210, 100%, 100%);
  --light-green: rgb(0, 231, 22);

  --blue: #0075f2;
  --faded-blue: hsl(207, 51%, 95%);
  --light-blue: #5695C8;
  /* 140, 100%, 85% */


  /*===================================
        Border line
  ====================================*/
  --border-line-grey: 1px solid #eee;
  --border-line-dark: 1px solid #555;
  --border-line-grey-d: 1px solid #c0bfbf;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.row-grid {
  display: grid;
  /* (Initial Declaration) grid: min-content 1rem / repeat(12, 1fr); */
  grid: min-content / repeat(12, 1fr);
  column-gap: 2rem;
}

.heading-primary {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.secondary-heading {
  
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1_5 {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

/****************************************
    Content - Graph Custom Radio Btn
****************************************/
.radio-btn {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #9ed8db;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  transform: translate(-94%, 18%);
}

/****************************************
    Content - Btn
****************************************/
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}

.btn__outline {
  border: var(--border-line-grey-d);
}

.btn__fill {
  display: inline-block;
  width: 100%;
  background-color: var(--blue);
  text-align: center;
}


.btn__blue {
  background-color: var(--blue);
}

.btn-text_white {
  color: #fff;
}

.btn-text_grey {
  color: var(--color-dark-light-2);
}

.right-align {
  margin-left: auto;
}