/******************************
    Backdrop's style
******************************/
.backdrop {
  /* outline: 1px red solid; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(90deg, var(--middle-blue) 38%, var(--color-off-white-1) 38%);
}

.login {
  width: 70%;
  height: 50rem;
  border-radius: 0.8rem;
  box-shadow: 3px -3px 15px rgba(0, 0, 0, .3),
              -3px 3px 15px rgba(0, 0, 0, .24);

  display: flex;
}

.login aside,
.login .form {
  padding: 3rem 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.login aside {
  width: 33%;
  /* align-items: center; */
  padding: 0 3rem;
  text-align: center;
  /* outline: 1px solid red; */
}

.login aside > * {
  width: 100%;
  /* text-align: center; */
}

.login-heading,
.signup-heading {
  margin-bottom: 4rem;
  color: #555;
  text-align: center;
}

.login .form {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  /* outline: 1px solid tomato; */
  margin: 0 4rem;

  flex-grow: 1;
}

.login .form-vgroup {
  display: flex;
  flex-direction: column;
}

.form-vgroup:not(:last-child) {
  margin-bottom: 2rem;
}

.form-vgroup:last-of-type {
  margin-top: 5rem;
}

.login label {
  margin-bottom: 8px;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--color-dark-light);
  font-weight: bold;
}

.login .input {
  border: var(--border-line-grey);
  border-color: var(--color-grey-extra-d);
  padding: 1rem 7px;
  border-radius: 4px;
  color: var(--color-dark-light);
  font-size: 1.8rem;
  outline: none;
}

.login .input:focus {
  border: var(--border-line-dark);
  border-color: var(--color-grey-extra-d);
}

.login .input::placeholder {
  color: var(--color-grey-light-1);
  font-size: 1.7rem;
}

.login p.forgetpassword {
  margin-top: .9rem;
  text-align: right;
  font-size: 1.4rem;
}

.login a {
  text-decoration: none;
  color: var(--color-dark-light);
}

.login button {
  border: none;
  padding: 1rem 5px;
  border-radius: 4px;
  font-size: 1.6rem;
  background-color: var(--middle-blue);
  /* color: var(--color-off-white); */
  font-weight: bold;
}

.login aside .icon-logo {
  font-size: 6rem;
}

/* .login aside p {
  text-align: left;
} */

.login aside p:not(:last-child) {
  margin-bottom: 5rem;
}
